# Env
.env
backend/.env

# Dependencies
frontend/node_modules/
admin/node_modules/

# Build output
frontend/dist/
admin/dist/
backend/server

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log


# E2E tests
e2e/node_modules/
e2e/test-results/
e2e/playwright-report/
e2e/package-lock.json